    $font-family: 'Karla', sans-serif;

    $primary-color: hsl(179, 62%, 43%);
    $secondary-color: hsl(71, 73%, 54%);
    $third-color: hsl(204, 43%, 93%);
    $fourth-color: hsl(218, 22%, 67%);
 
    $background-color:#e8f4f8; 
    $neutral-color:white;
    $neutral-color-1: black;

    $border-radius-1:5px;
    $border-radius-2:20px;

    $font-size:16px;

    $font-size-1:1.5em;
    $font-size-2:1.3em;
    $font-size-3:.7em;
    $font-size-4:.6em;
    $font-size-5:.5em;



    $font-weight:(
        'regular':400,
        'bold':700

    );
    $box-shadow: 10px 29px 74px -55px rgba(0,0,0,0.75);

